<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trustlook.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application 
        android:name="com.trustlook.app.TrustApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        
        <activity
            android:name="com.trustlook.app.MainScanActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  EULA Activity -->
        <activity 
            android:name="com.trustlook.app.MainActivity" 
            android:label="@string/scan_results">            
        </activity>
        
        <!--  EULA Activity -->
        <activity 
            android:name="com.trustlook.app.EULAActivity" 
            android:label="@string/app_name">            
        </activity>
        
        <service android:name="ApkUploadService"></service>
        
        <!--  App Detail Report -->
        <activity 
            android:name="com.trustlook.app.AppDetailActivity"
            android:label="@string/app_name">
        </activity>
        
        <!-- aware of charger connected or not -->
        <receiver android:permission="android.permission.RECEIVE_BOOT_COMPLETED" 
            android:name=".PowerNetworkReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />     
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>         
            </intent-filter>
        </receiver>

    
        <!-- Push Notification Support -->
        <!-- remove comments if decided to use Parse.com push notification
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity android:label="@string/app_name" android:name="com.facebook.LoginActivity"></activity>
        <activity android:label="@string/app_name" android:name="com.trustlook.app.FBLoginActivity"></activity>
        <activity android:label="@string/app_name" android:name="com.trustlook.app.HelloFacebookSampleActivity"></activity>
        
    </application>

</manifest>
